<div class="card">
  <div class="card-header">
    {{ naslov }}
  </div>
  <div class="card-body">
    <div class="card-section">
      <p>
        Naša platforma vam omogućava da se povežete sa svetom događaja koji je
        raznolik i dinamičan. Otkrijte nova mesta, nova lica i mogućnosti za
        druženje i učenje.
      </p>
      <p>
        Sve što treba da uradite jeste da se prijavite na svoj nalog, čime vam
        se omogućava da rezervišete mesto za sebe, ali i za više osoba. Takođe,
        ukoliko se predomislite, možete lako otkazati svoju rezervaciju.
      </p>
      <p>
        Ukoliko nemate svoj nalog, jednostavno se registrujte kako biste mogli
        da rezervišete svoje mesto.
      </p>
    </div>
  </div>
</div>
