  .card {
    max-width: 100%; 
    margin: 0 auto;
    margin-top: 10px; 
    border-radius: 0;
    border: 1px solid #800080;
  }

  .letters {
    font-family: 'Cabin';
    font-size: 28px;
    font-weight: 600; 
  }
  .letters-text {
    font-family: 'Cabin';
    font-size: 20px;
    font-weight: 500;
  }

  .letters-th
  {
    font-family: 'Cabin';
    font-size: 20px;
    font-weight: 500;
    color: white;
  }

  .card-header, .card-footer
  {
    border-radius: 0;
    background-color: #fee7ff;
  }
  
  .btn-custom {
    background-color: black; 
    color: white;
    font-size: 22px;             
    border-color: black;     
  }
  
  .btn-custom:hover {
    background-color: white; 
    color: black;            
  }

  .filter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  .fc{
    border: 1px solid black;
    height: 35%;
  }

  .btn-purple {
    display: flex;
    background-color: #800080; /* Ljubičasta boja */
    border-color: #800080; /* Ljubičasta boja za ivicu */
    justify-content:center;
  }
  
  .btn-purple:hover {
    background-color: #6a006a; /* Tamnija ljubičasta pri hover-u */
    border-color: #6a006a;
  }

  .btn-custom {
    background-color: black;  
    color: white;   
    font-size: 22px;         
    border-color: black;
    margin-left: 10px;      
  }
  
  .btn-custom:hover {
    background-color: white; 
    color: black;            
  }

  .card-footer {
    display: flex;
  }
  
  .card-footer .add-button {
    margin-left: auto; 
  }

  .letters-add {
    font-family: 'Cabin';
    font-size: 22px;
    font-weight: 300;
    color: white; 
  }

