.btn-purple {
    background-color: #800080; /* Ljubičasta boja */
    border-color: #800080; /* Ljubičasta boja za ivicu */
  }
  
  .btn-purple:hover {
    background-color: #6a006a; /* Tamnija ljubičasta pri hover-u */
    border-color: #6a006a;
  }
  
  .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px; 
  }
/* Stil za navbar-brand - naslov */
  .navbar-brand {
    
    font-weight: bold;        /* Bold tekst */
    color: #000000;          
    font-size: 3rem;          /* Povećajte veličinu fonta */
    font-family: 'Cabin'; /* Primer fonta sa Google Fonts */
  }
  
  .navbar .nav-pills {
    display: flex;
  }
  
  .navbar .nav-pills.ml-auto {
    margin-left: auto; /* Ovo omogućava da linkovi na desnoj strani budu poravnati sa desnom ivicom */
  }

  /* Sidebar styling */
.sidebar {
  background-color: #f5a9f8;
  padding: 10px;
  border-right: 2px #f5a9f8;
  height: 100%;
}

/* Sidebar nav items styling */
.sidebar .nav-link {
  margin-bottom: 15px; /* Razmak između stavki */
}

.navbar .nav-link {
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex;
}

/* Podesi razmak između navbara i sadržaja */
.container-fluid {
  padding-top: 15px;
}

/* Osiguraj da main content ima odgovarajući razmak sa leve strane */
.row {
  height: calc(100vh - 96px);
  margin-top: 20px; 
}
.col-md-9 {
  padding-left:0; /* Ukloni padding sa leve strane */
}

/* Veća specifičnost za navbar */
.navbar.navbar-light {
  background-color: #f5a9f8 !important; /* Dodaj !important da prepišeš sve prethodne stilove */
}

.letters {
  font-family: 'Cabin';
  font-size: 19px;
  font-weight: 300;
  color: white; 
}



